.country-list{
    margin-top: 15px;
    max-height: calc(100vh - 257px);
    overflow: auto;
    .ant-list-item {
        cursor: pointer;
        padding-left: 15px;
        &:hover {
            background-color: rgba(0, 0, 0, 0.08);
        }
    }
    .ant-avatar {
        height: auto;
        border-radius: 0;
    }
    .count{
        display: flex;
        flex-grow: .2;
    } 
}