.count-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .count-card-section {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        margin-top: 15px;
    }
    .ant-card-body {
        padding: 15px;
        text-align: center;
        width: 100%;
        h1,h2,h3,h4{
            margin-bottom: .2em;
            margin-top: .2em;
        }
    }
}